*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    color: white;
    font-family: sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(59,173,46,0.9809173669467787) 22%, rgba(0,212,255,1) 83%);}
.con{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding: 20px 36px;
    box-shadow: 2px 2px 5px #89c9f3,-2px -2px 5px #89c9f3;

}
.red{
    border-radius: 8px;
    border: none;
    outline: none;
    margin-bottom: 5px;
    background-color: white;
    position: relative;

}
h2{
    margin-bottom: 10px;
    text-transform: uppercase;
}
.rent{
    display: flex;
   justify-content: space-between;

}
.rent label,input,span{
    padding: 6px 8px;
    font-size:18px;
    
}
.rent input[type="checkbox"]{
    width: 20px;
    height: 20px;
}
.rent p,span{
    font-size:18px;

}
.rent{
    margin-top: 10px;
}
.rem{
padding: 2px 3px;
}
#btns{
 padding: 6px 6px;
 font-size: 18px;
 margin-top: 25px;
 color: white;
 background-color: cornflowerblue;
 border: none;
 border-radius: 5px;
}
#btns:hover{
    background-color:blue;
}
.divr{
    width: 100%;
}
#copy{
    position: absolute;
    margin-left: 300px;
    margin-top: 36px;    
    color: black;
}
